body {
    margin: 0;
    padding: 0;
    font-family: "SF Compact", sans-serif;
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
}


/*Navbar*/ 
.navbar ul {
    list-style-type: none;
    background: black;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-block;

}

.navbar a {
    text-decoration: none;
    color: #fff;
    width: 100px;
    display: block;
    padding: 20px;
    font-size: 17px;
    font-family: "SF Compact", sans-serif;

}

.navbar a:hover {
    background: black;
    color: #adadad;
}

p {
    position: absolute;
    left: 45%;
    top: 90%;
}


/* Calculate Box */
.box {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    display: inline-block;
    margin: 80px;
}

.input-field {
    display: block;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 10px;
    width: 92%;
    outline: auto;
}

#AverageScore {
    margin : 0px 0px 40px 0px;
}

#calculateButton {
    margin-top: -10px;
}

.button {
    padding: 10px 40px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 auto; /* Zentriert horizontal */
    margin-bottom: 20px;
    display: block;
    text-align: center; /* Zentriert den Text innerhalb des Buttons */
}



.button:hover {
    background-color: #606060;
}

.line {
    border: 1px solid #000000;
    width: 100%;
    margin: 20px 0px 20px 0px;
}

/* Added Scores Table */
.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  }
  
  #scoresTable {
    border-collapse: collapse;
    width: 80%;
    max-width: 600px;
    margin-top: 20px; /* Hier kannst du die gewünschte Distanz nach oben einstellen */
  }
  
  #scoresTable caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  #scoresTable th, #scoresTable td {
    border: 1px solid #b3b3b3;
    padding: 8px;
    text-align: center;
  }
  
  #scoresTable th {
    background-color: #f2f2f2;
  }
  
  #scoresTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
/* Delete Cell in the Table */
td.delete-cell {
    display: none;
  }
  
  /* Stil für die "delete-cell" Zellen, wenn der Mauszeiger über der Tabelle ist */
  table:hover td.delete-cell {
    display: table-cell; /* Sichtbar machen */
    background-color: #ffffff;
    border: 2px solid #ffffff;
  }
  
  /* Stil für die "Delete"-Schaltflächen */
  button.delete-button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  